{% extends "base.html" %}

<header class="masthead" style="background-image: url('static/images/1.png');">
</header>

{% block content %}
<body style="background-image: url('static/images/1.png');background-position: center center;
 background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <br>
    <br>
    <h1 style="font-family:Belleza; color:white; text-align:center; font-size:80px;"> Courses</h1>
    <br>
    <br>

    <ul style="color:white; text-align:left;position:absolute;left:250px">
        <li>
            <h4>6.0001 Introduction to Computer Science and Programming in Python.</h4>
        </li>
        <li>
            <h4>6.042J Mathematics for Computer Science.</h4>
        </li>
        <li>
            <h4>Introduction to algorithms.</h4>
        </li>
        <li>
            <h4>CS50 Harvard Computer Science.</h4>
        </li>
        <li>
            <h4>CS50W Harvard Computer Science and Web development.</h4>
        </li>
    </ul>
</body>
{% endblock %}