{% extends "base.html" %}

<header class="masthead" style="background-image: url('static/images/1.png');">
</header>

{% block content %}
<body style="background-image: url('static/images/1.png');background-position: center center;
 background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
    <br>
    <br>
    <h1 style="font-family:Belleza; color:white; text-align:center; font-size:80px;"> Tanmay Kulkarni</h1>
    <img src="static/images/dp.jpg" alt="Tanmay" style="border-radius:100%; width:200px; display: block; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <h5 style="font-family:Belleza; color:white; text-align:center;">A Computer Science and Engineering Student</h5>
</body>
{% endblock %}